.crisis-benefits {
  margin-top: 286px;
  color: var(--main-color);
}

.crisis-benefits__inner {}

.crisis-benefits__title {
  text-align: center;
}

.crisis-benefits__cards {
  margin-top: 53px;
}

@include mediaLaptop {
  .crisis-benefits {
    margin-top: 150px;
  }
}