/* Base */
/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("./../fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "w3-ip";
  src: local("w3$ip"), url("./../fonts/w3$ip.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
:root {
  --container-width: 1310px;
  --container-padding: 15px;
  --mobile-padding: 20px;
  --mobile-border-radius: 20px;
  --font-main: "Montserrat", "Times New Roman";
  --font-secondary: "w3-ip", "Times New Roman";
  --main-color: #fff;
  --text-color: #101010;
  --extratext-color: #282828;
  --card-color: #f3f3f3;
  --accent-color: #f7d100;
  --muted-color: #636363;
  --color-red: red;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--contrast-color);
  font-family: var(--font-main);
  overflow-x: hidden;
}

img {
  display: block;
}

.wrapper {
  background: url("./../img/bg.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  position: relative;
  z-index: 0;
  overflow-x: hidden;
}

.btn-anim {
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
}
.btn-anim span {
  position: relative;
  z-index: 1;
}
.btn-anim::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 0px;
  background-color: var(--accent-color);
  transition: all 0.5s ease;
}
.btn-anim:hover {
  color: var(--main-color);
}
.btn-anim:hover::after {
  width: 120%;
}

.invisible {
  opacity: 0;
}

.background-img {
  position: relative;
  z-index: -2;
  background-image: url("./../img/bg.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.title-1 {
  font-family: var(--font-secondary);
  font-size: 45px;
}
@media screen and (max-width: 900px) {
  .title-1 {
    font-size: 35px;
  }
}

.text {
  font-size: 20px;
}

.accent {
  color: var(--accent-color);
}

.bold {
  font-weight: 700;
}

.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.no-scroll {
  overflow-y: hidden;
}

.container {
  max-width: var(--container-width);
  padding: 0 var(--container-padding);
  margin: 0 auto;
}

/* Blocks */
.promo__inner {
  display: grid;
  background-color: var(--card-color);
  border-radius: 50px;
  padding: 99px 54px;
  overflow: hidden;
  position: relative;
}
.promo__inner::after {
  content: "";
  position: absolute;
  bottom: -150px;
  right: -140px;
  background-image: url("./../img/promo/cloud.png");
  background-position: 1px 1px;
  background-size: contain;
  background-repeat: no-repeat;
  width: 503px;
  aspect-ratio: 503/452;
}

.promo__title {
  margin-bottom: 45px;
}
.promo__title .title-1 {
  color: var(--contrast-color);
}

.promo__descr {
  font-size: 35px;
  margin-bottom: 64px;
}

@media screen and (max-width: 1080px) {
  .promo__inner {
    padding: 99px 54px;
    overflow: hidden;
  }
  .promo__inner::after {
    bottom: -102px;
    right: -120px;
    background-position: 1px 1px;
    background-size: contain;
    background-repeat: no-repeat;
    width: 320px;
    height: 250px;
  }
}
@media screen and (max-width: 900px) {
  .promo__inner {
    padding: 50px 50px 80px;
  }
  .promo__title {
    margin-bottom: 30px;
  }
  .promo__descr {
    margin-bottom: 30px;
    font-size: 28px;
  }
}
@media screen and (max-width: 650px) {
  .promo__inner {
    padding: var(--mobile-padding);
    border-radius: var(--mobile-border-radius);
  }
  .promo__inner::after {
    display: none;
  }
}
.about {
  margin-top: 100px;
}

.about__inner {
  color: var(--main-color);
  display: flex;
  gap: 70px;
  justify-content: space-between;
  align-items: start;
}

.about__img {
  min-width: 400px;
  position: relative;
}
.about__img::before {
  content: "";
  display: grid;
  position: absolute;
  top: 40px;
  left: 40px;
  background-image: url("./../img/about/pins.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 140px;
  height: 103px;
}

.about__text {
  margin-top: 50px;
  max-width: 740px;
}

.about__text-descr {
  margin-top: 48px;
}
.about__text-descr p {
  margin-bottom: 20px;
}

@media screen and (max-width: 1080px) {
  .about__inner {
    gap: 20px;
  }
  .about__img {
    min-width: 300px;
  }
  .about__img::before {
    top: 20px;
    left: 40px;
    width: 70px;
    height: 103px;
  }
}
@media screen and (max-width: 900px) {
  .about__inner {
    flex-direction: column;
  }
  .about__img {
    width: 200px;
    margin: 0 auto;
  }
  .about__text {
    max-width: none;
  }
  .about__text-title {
    text-align: center;
  }
  .about__text-title br {
    display: none;
  }
}
.problem {
  margin-top: 110px;
}

.problem__inner {
  display: grid;
  padding: 80px 54px;
  position: relative;
  background-color: var(--card-color);
  border-radius: 50px;
}

.problem__text-title {
  max-width: 540px;
  margin-bottom: 45px;
}

.problem__text-descr {
  max-width: 740px;
}
.problem__text-descr p {
  margin-bottom: 20px;
}

.problem__img {
  position: absolute;
  top: 50%;
  right: 100px;
  transform: translateY(-50%);
}

@media screen and (max-width: 1250px) {
  .problem__text {
    max-width: 600px;
  }
  .problem__img {
    right: 50px;
  }
}
@media screen and (max-width: 1080px) {
  .problem__inner {
    justify-items: center;
    padding: 50px;
  }
  .problem__text {
    max-width: none;
  }
  .problem__img {
    margin-top: 50px;
    position: static;
    transform: none;
  }
}
@media screen and (max-width: 650px) {
  .problem__inner {
    padding: var(--mobile-padding);
    border-radius: var(--mobile-border-radius);
  }
}
.work-scheme {
  margin-top: 270px;
  color: var(--main-color);
}

.work-scheme__inner {
  display: grid;
  gap: 50px;
}

.work-scheme__title {
  text-align: center;
}

.work-scheme__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.work-scheme__grid-area {
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  padding: 60px 57px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
.work-scheme__grid-area:nth-child(1) {
  font-size: 30px;
}

@media screen and (max-width: 1250px) {
  .work-scheme {
    margin-top: 180px;
  }
  .work-scheme__grid-area {
    padding: 30px 30px;
  }
}
@media screen and (max-width: 900px) {
  .work-scheme__grid {
    grid-template-columns: 1fr;
  }
  .work-scheme__grid-area:nth-child(1) {
    font-size: 25px;
  }
}
@media screen and (max-width: 650px) {
  .work-scheme {
    margin-top: 100px;
  }
  .work-scheme__grid-area {
    padding: var(--mobile-padding);
    border-radius: var(--mobile-border-radius);
  }
}
.interaction {
  margin-top: 225px;
  color: var(--main-color);
}

.interaction__title {
  text-align: center;
}

.interaction__grid {
  margin-top: 105px;
}

.interaction__grid-row {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 109px 1fr;
  grid-template-rows: 1fr;
  gap: 45px;
}
.interaction__grid-row.odd {
  grid-template-areas: "descr number .";
}
.interaction__grid-row.even {
  grid-template-areas: ". number descr";
}

.interaction__grid-row-descr {
  grid-area: descr;
  padding: 37px 44px;
  background: linear-gradient(90deg, rgba(247, 209, 0, 0.1) 0%, rgba(0, 0, 0, 0) 100%);
}
.interaction__grid-row-descr p:nth-child(2) {
  margin-top: 20px;
}

.interaction__grid-row-number {
  grid-area: number;
  font-size: 28px;
  font-family: var(--font-secondary);
  color: var(--accent-color);
  aspect-ratio: 1/1;
  position: relative;
  background-image: url("./../img/interaction/ellipse.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.interaction__grid-row-number span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 1250px) {
  .interaction {
    margin-top: 150px;
  }
}
@media screen and (max-width: 1080px) {
  .interaction__grid-row {
    grid-template-columns: 109px auto;
    padding: 10px 0;
  }
  .interaction__grid-row.odd {
    grid-template-areas: "number descr";
  }
  .interaction__grid-row.even {
    grid-template-areas: "number descr";
  }
}
@media screen and (max-width: 900px) {
  .interaction__grid {
    margin-top: 50px;
  }
}
@media screen and (max-width: 650px) {
  .interaction {
    margin-top: 100px;
  }
  .interaction__grid-row,
  .interaction__grid-row.odd,
  .interaction__grid-row.even {
    grid-template-columns: 1fr;
    gap: 20px;
    grid-template-rows: 100px auto;
    grid-template-areas: "number" "descr";
  }
  .interaction__grid-row-number {
    width: 100px;
    margin: 0 auto;
  }
  .interaction__grid-row-descr {
    padding: var(--mobile-padding);
  }
}
.benefits {
  margin-top: 235px;
}

.benefits__inner {
  position: relative;
  padding: 70px 54px;
  background-color: var(--card-color);
  border-radius: 50px;
}
.benefits__inner::after {
  content: "";
  position: absolute;
  top: -90px;
  right: -60px;
  background-image: url("./../img/benefits/chain.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 147px;
  height: 236px;
  z-index: -1;
}

.benefits__text-list {
  margin-top: 50px;
  display: flex;
  gap: 50px;
}
.benefits__text-list ul {
  max-width: 455px;
}
.benefits__text-list li {
  list-style: disc;
  margin-bottom: 15px;
}

.benefits__img {
  position: absolute;
  bottom: 0;
  right: -12px;
  max-width: 363px;
}

@media screen and (max-width: 1250px) {
  .benefits {
    margin-top: 150px;
  }
  .benefits__text-list ul {
    max-width: 316px;
  }
  .benefits__img {
    right: -12px;
    max-width: 330px;
  }
}
@media screen and (max-width: 1080px) {
  .benefits__img {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .benefits__inner {
    padding: 50px 50px 35px;
  }
  .benefits__text-list {
    flex-direction: column;
    gap: 0;
  }
  .benefits__text-list ul {
    max-width: none;
  }
}
@media screen and (max-width: 650px) {
  .benefits__inner {
    padding: var(--mobile-padding);
    border-radius: var(--mobile-border-radius);
  }
  .benefits__text-list {
    padding-left: 10px;
  }
}
.bonuses {
  margin-top: 225px;
  color: var(--main-color);
}

.bonuses__title {
  text-align: center;
}

.bonuses__grid {
  margin-top: 110px;
}

@media screen and (max-width: 1250px) {
  .bonuses {
    margin-top: 150px;
  }
}
@media screen and (max-width: 650px) {
  .bonuses {
    margin-top: 100px;
  }
  .bonuses__grid {
    margin-top: 80px;
  }
}
.bonuses-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 58px;
}

.bonuses-grid__row {
  display: flex;
  justify-content: space-between;
  gap: 140px;
}

.bonuses-grid__row-item-img {
  height: 68px;
}
.bonuses-grid__row-item-img img {
  height: 68px;
}

.bonuses-grid__row-item-descr {
  margin-top: 25px;
}

@media screen and (max-width: 900px) {
  .bonuses-grid__row {
    flex-direction: column;
    gap: 60px;
    max-width: 600px;
    margin: 0 auto;
  }
  .bonuses-grid {
    gap: 60px;
  }
}
.cooperation {
  margin-top: 200px;
}

.cooperation__inner {
  position: relative;
  padding: 70px 54px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.cooperation__text-form {
  margin-top: 68px;
}

.cooperation__img {
  position: absolute;
  bottom: 0;
  right: 66px;
  background-image: url("./../img/cooperation/bg-light.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1250px) {
  .cooperation__img {
    right: 7px;
    max-width: 360px;
  }
}
@media screen and (max-width: 1080px) {
  .cooperation__img {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .cooperation {
    margin-top: -90px;
  }
  .cooperation__inner {
    padding: 50px;
  }
}
@media screen and (max-width: 650px) {
  .cooperation {
    margin-top: -150px;
  }
  .cooperation__inner {
    padding: var(--mobile-padding);
    border-radius: var(--mobile-border-radius);
  }
  .cooperation__text-title br {
    display: none;
  }
}
.cooperation-form__form {
  display: grid;
  grid-template-columns: 377px 243px;
  gap: 15px;
}

.cooperation-form__input {
  padding: 27px 109px;
  background-color: var(--main-color);
  border-radius: 10px;
  font-size: 18px;
}
.cooperation-form__input::-moz-placeholder {
  color: #adadad;
}
.cooperation-form__input::placeholder {
  color: #adadad;
}
.cooperation-form__input:invalid {
  color: red;
  border: 1px solid red;
}

.cooperation-form__btn {
  color: var(--accent-color);
  border: 2px solid var(--accent-color);
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
}

@media screen and (max-width: 900px) {
  .cooperation-form__form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 76px);
    gap: 30px;
  }
}
@media screen and (max-width: 650px) {
  .cooperation-form__input {
    width: 100%;
    padding: 15px;
    text-align: center;
  }
}
.crisis-benefits {
  margin-top: 286px;
  color: var(--main-color);
}

.crisis-benefits__title {
  text-align: center;
}

.crisis-benefits__cards {
  margin-top: 53px;
}

@media screen and (max-width: 1250px) {
  .crisis-benefits {
    margin-top: 150px;
  }
}
.crisis-benefits-cards {
  display: grid;
  gap: 20px;
}

.crisis-benefits-cards__row {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.crisis-benefits-cards__item {
  display: grid;
  gap: 25px;
  position: relative;
  padding: 73px 100px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  z-index: 1;
}
.crisis-benefits-cards__item.last-left-card::before {
  content: "";
  position: absolute;
  bottom: -100%;
  left: -100%;
  transform: translate(93%, -19%);
  background-image: url("./../img/crisis-benefits/klipartz.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 395px;
  aspect-ratio: 1/1;
  z-index: -1;
}

.crisis-benefits-cards__item-number {
  position: absolute;
  top: 42px;
  left: 36px;
  font-family: var(--font-secondary);
  font-size: 30px;
}

.crisis-benefits-cards__item-title {
  font-size: 25px;
}

@media screen and (max-width: 1310px) {
  .crisis-benefits-cards {
    justify-items: center;
  }
  .crisis-benefits-cards__row {
    max-width: 1221px;
  }
  .crisis-benefits-cards__item {
    max-width: 600px;
  }
  .crisis-benefits-cards__item.last-left-card::before {
    bottom: -83%;
    left: -105%;
    transform: translate(93%, -19%);
  }
}
@media screen and (max-width: 1250px) {
  .crisis-benefits-cards__item {
    max-width: 516px;
    padding: 50px 50px 50px 100px;
  }
  .crisis-benefits-cards__item.last-left-card::before {
    bottom: -97%;
    left: -105%;
    transform: translate(69%, -19%);
  }
}
@media screen and (max-width: 1080px) {
  .crisis-benefits-cards__item {
    padding: 50px 25px 50px 90px;
  }
  .crisis-benefits-cards__item-number {
    top: 52px;
  }
  .crisis-benefits-cards__item.last-left-card::before {
    display: none;
  }
}
@media screen and (max-width: 900px) {
  .crisis-benefits-cards__row {
    grid-template-columns: 1fr;
  }
  .crisis-benefits-cards__item {
    max-width: none;
  }
}
@media screen and (max-width: 650px) {
  .crisis-benefits-cards__item {
    padding: var(--mobile-padding);
    border-radius: var(--mobile-border-radius);
  }
  .crisis-benefits-cards__item-number {
    display: none;
  }
}
.revenue {
  margin-top: 300px;
}

.revenue__title {
  text-align: center;
  color: var(--main-color);
}

.revenue__block {
  margin-top: 58px;
}

@media screen and (max-width: 1250px) {
  .revenue {
    margin-top: 150px;
  }
}
@media screen and (max-width: 650px) {
  .revenue {
    margin-top: 100px;
  }
  .revenue__title {
    text-align: left;
  }
  .revenue__title br {
    display: none;
  }
}
.revenue-block {
  padding: 64px 60px;
  background-color: var(--card-color);
  border-radius: 50px;
}

.revenue-block__grid {
  display: grid;
  grid-template-columns: 1fr 568px;
  gap: 45px;
}

.revenue-block__info-descr {
  display: grid;
  gap: 20px;
}

.revenue-block__info-profit {
  margin-top: 140px;
  display: grid;
  gap: 48px;
}

.revenue-block__info-profit-item-descr {
  margin-top: 20px;
}

.revenue-block__info-comment {
  margin-top: 90px;
  font-size: 15px;
}

.revenue-block__calc {
  padding: 56px 38px;
  display: grid;
  gap: 60px;
  background-color: #fff;
  border-radius: 28px;
}

.revenue-block__calc-range p {
  font-size: 18px;
  color: var(--extratext-color);
}

.revenue-block__calc-range-input {
  position: relative;
}
.revenue-block__calc-range-input input {
  margin-top: 20px;
  width: 100%;
  height: 3px;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: var(--accent-color);
  cursor: pointer;
}
.revenue-block__calc-range-input input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  width: 21px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  border: 3px solid var(--accent-color);
  background-color: #fff;
  position: relative;
}
.revenue-block__calc-range-input output {
  position: absolute;
  left: 50%;
  bottom: -25px;
  transform: translateX(-50%);
  font-size: 15px;
  color: #8c8c8c;
}
.revenue-block__calc-range-input .input__number-first {
  position: absolute;
  font-size: 15px;
  bottom: -25px;
  left: 0;
  color: #8c8c8c;
}
.revenue-block__calc-range-input .input__number-second {
  position: absolute;
  font-size: 15px;
  bottom: -25px;
  right: 0;
  color: #8c8c8c;
}

.revenue-block__calc-check-text {
  font-size: 18px;
}

.revenue-block__calc-check-price {
  margin-top: 20px;
  font-family: var(--font-secondary);
  font-size: 45px;
}

@media screen and (max-width: 1250px) {
  .revenue-block__grid {
    grid-template-columns: 1fr;
    grid-template-areas: "calc" "descr";
  }
  .revenue-block__info {
    grid-area: descr;
  }
  .revenue-block__calc {
    grid-area: calc;
  }
  .revenue-block__info-profit {
    margin-top: 50px;
    grid-template-columns: 1fr 1fr;
  }
  .revenue-block__info-comment {
    margin-top: 60px;
  }
}
@media screen and (max-width: 1080px) {
  .revenue-block {
    padding: 40px;
  }
  .revenue-block__info-profit {
    gap: 0;
  }
  .revenue-block__info-profit {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    grid-template-areas: "first-info-profit" "second-info-profit";
  }
  .revenue-block__info-profit-item:nth-child(1) {
    text-align: left;
    grid-area: first-info-profit;
  }
  .revenue-block__info-profit-item:nth-child(2) {
    text-align: right;
    grid-area: second-info-profit;
  }
}
@media screen and (max-width: 650px) {
  .revenue-block {
    padding: var(--mobile-padding);
    border-radius: var(--mobile-border-radius);
  }
  .revenue-block__grid {
    border-radius: var(--mobile-border-radius);
  }
  .revenue-block__calc {
    padding: var(--mobile-padding);
    border-radius: var(--mobile-border-radius);
  }
  .revenue-block__info-profit-item:nth-child(1) {
    -moz-text-align-last: left;
         text-align-last: left;
  }
  .revenue-block__info-profit-item:nth-child(2) {
    -moz-text-align-last: left;
         text-align-last: left;
  }
  .revenue-block__info-profit-item-price {
    font-size: 30px;
  }
  .revenue-block__info-profit-item-descr {
    margin-top: 10px;
  }
  .revenue-block__calc-check-price {
    font-size: 30px;
    margin-top: 10px;
  }
}
.questions {
  margin-top: 240px;
}

.questions__title {
  text-align: center;
  color: var(--main-color);
}

.questions__list {
  margin-top: 58px;
}
.questions__list > ul {
  display: grid;
  gap: 15px;
}
.questions__list > ul > li {
  background-color: #fff;
  border-radius: 30px;
  color: var(--extratext-color);
  font-size: 30px;
  font-weight: 500;
  padding: 45px 54px;
  padding-right: 110px;
  position: relative;
  cursor: pointer;
}
.questions__list > ul > li::after {
  content: "";
  position: absolute;
  right: 54px;
  top: 50%;
  transform: translateY(-50%);
  background-image: url("./../img/icons/arrow.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 37px;
  height: 22px;
  transition: transform 0.3s ease;
}

.questions__list-item-descr {
  display: none;
}

.questions__list-item.active .questions__list-item-descr {
  display: block;
  margin-top: 20px;
}
.questions__list-item.active::after {
  transform: rotate(180deg);
}

@media screen and (max-width: 1250px) {
  .questions {
    margin-top: 150px;
  }
}
@media screen and (max-width: 1080px) {
  .questions__list > ul > li {
    padding: 20px 100px 20px 54px;
  }
}
@media screen and (max-width: 900px) {
  .questions__list > ul > li {
    padding: 20px 60px 20px 20px;
  }
  .questions__list > ul > li::after {
    right: 20px;
  }
}
@media screen and (max-width: 650px) {
  .questions {
    margin-top: 100px;
  }
  .questions__list > ul > li {
    font-size: 20px;
    border-radius: var(--mobile-border-radius);
  }
}
.contact {
  margin-top: 330px;
  margin-bottom: 280px;
}

.contact__inner {
  position: relative;
  padding: 70px 54px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.contact__text-descr {
  color: var(--main-color);
  font-weight: 500;
  margin-top: 50px;
}

.contact__text-form {
  margin-top: 50px;
}

.contact__img {
  position: absolute;
  bottom: 0;
  right: 61px;
  background-image: url("./../img/cooperation/bg-light.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.contact__img::before {
  content: "";
  background-image: url("./../img/contact/cursor-before.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  width: 66px;
  height: 105px;
}
.contact__img::after {
  content: "";
  background-image: url("./../img/contact/cursor-after.png");
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 67px;
  right: -50px;
  width: 106px;
  height: 96px;
}

@media screen and (max-width: 1250px) {
  .contact {
    margin-top: 150px;
    margin-bottom: 150px;
  }
  .contact__img {
    right: 40px;
    width: 350px;
  }
  .contact__img::before {
    top: 30px;
    left: 30px;
    width: 33px;
    height: 52px;
  }
  .contact__img::after {
    bottom: 67px;
    right: -50px;
    width: 53px;
    height: 48px;
  }
}
@media screen and (max-width: 1080px) {
  .contact__img {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .contact {
    margin-top: 100px;
  }
  .contact__inner {
    padding: var(--mobile-padding);
    border-radius: var(--mobile-border-radius);
  }
  .contact__text-descr {
    margin-top: 25px;
  }
}
.vacancies-promo__inner {
  position: relative;
  padding: 128px 84px;
  background-color: var(--card-color);
  border-radius: 50px;
  overflow: hidden;
}

.vacancies-promo__text {
  display: grid;
  gap: 55px;
}

.vacancies-promo__text-title {
  font-size: 50px;
  font-family: var(--font-secondary);
}

.vacancies-promo__text-descr {
  max-width: 700px;
  font-size: 25px;
  color: var(--text-color);
}

.vacancies-promo__img {
  position: absolute;
  top: 50%;
  right: -180px;
  transform: translateY(-50%);
  max-width: 771px;
}

@media screen and (max-width: 1250px) {
  .vacancies-promo__img {
    right: -280px;
  }
  .vacancies-promo__text-descr {
    max-width: 500px;
  }
  .vacancies-promo__text-descr br {
    display: none;
  }
}
@media screen and (max-width: 1080px) {
  .vacancies-promo__inner {
    padding: 80px;
  }
  .vacancies-promo__img {
    right: -400px;
  }
}
@media screen and (max-width: 900px) {
  .vacancies-promo__inner {
    padding: 80px 40px;
  }
  .vacancies-promo__img {
    right: -600px;
  }
  .vacancies-promo__text-descr {
    max-width: none;
    width: 90%;
  }
}
@media screen and (max-width: 650px) {
  .vacancies-promo__inner {
    padding: var(--mobile-padding);
    border-radius: var(--mobile-border-radius);
  }
  .vacancies-promo__text-descr {
    width: 100%;
    font-size: 22px;
  }
  .vacancies-promo__img {
    margin-top: 40px;
    width: 600px;
    position: static;
    transform: translate(-5%, 0%);
  }
}
.vacancies-professions {
  margin-top: 142px;
}

.vacancies-professions__inner {
  display: flex;
  flex-direction: column;
  gap: 36px;
  color: var(--main-color);
  position: relative;
  overflow: hidden;
}

.vacancies-professions__card {
  padding: 53px 79px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 50px;
  position: relative;
}
.vacancies-professions__card::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
  width: 385px;
  height: 100%;
  background-image: url("./../img/vacancies/blessing.png");
  background-repeat: no-repeat;
}

.vacancies-professions__card-title {
  font-weight: 700;
  font-size: 35px;
}

.vacancies-professions__card-salary {
  margin-top: 12px;
  margin-bottom: 44px;
  font-size: 18px;
}

.vacancies-professions__card-descr {
  display: grid;
  gap: 20px;
}

.vacancies-professions__card-list {
  max-width: 750px;
}
.vacancies-professions__card-list h3 {
  font-size: 16px;
  font-weight: 700;
}
.vacancies-professions__card-list > ul {
  display: grid;
  gap: 5px;
  padding-left: 18px;
}
.vacancies-professions__card-list > ul > li {
  font-size: 16px;
  list-style-type: square;
}

@media screen and (max-width: 900px) {
  .vacancies-professions__card {
    padding: 40px;
  }
}
@media screen and (max-width: 650px) {
  .vacancies-professions {
    margin-top: 100px;
  }
  .vacancies-professions__card {
    padding: var(--mobile-padding);
    border-radius: var(--mobile-border-radius);
  }
  .vacancies-professions__card-title {
    font-size: 30px;
  }
}
.vacancies-benefits {
  margin-top: 157px;
  margin-bottom: 220px;
}

.vacancies-benefits__inner {
  position: relative;
  padding: 94px 79px;
  border-radius: 50px;
  background-color: #fff;
}

.vacancies-benefits__text-title {
  font-size: 35px;
  font-weight: 700;
}

.vacancies-benefits__text-list {
  margin-top: 26px;
}
.vacancies-benefits__text-list ul {
  padding-left: 20px;
}
.vacancies-benefits__text-list li {
  font-size: 16px;
  color: var(--extratext-color);
  list-style-type: square;
  line-height: 25px;
}

.vacancies-benefits__img {
  position: absolute;
  top: 50%;
  right: 80px;
  transform: translateY(-50%);
  max-width: 360px;
}
.vacancies-benefits__img::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  filter: blur(100px);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: var(--accent-color);
  z-index: -1;
}

@media screen and (max-width: 1250px) {
  .vacancies-benefits__img {
    right: 40px;
  }
  .vacancies-benefits__text-list {
    max-width: 500px;
  }
}
@media screen and (max-width: 1080px) {
  .vacancies-benefits__img {
    max-width: 300px;
  }
  .vacancies-benefits__img::after {
    width: 200px;
    height: 200px;
  }
  .vacancies-benefits__text-list {
    max-width: 400px;
  }
}
@media screen and (max-width: 900px) {
  .vacancies-benefits__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 40px;
  }
  .vacancies-benefits__img {
    right: -100px;
  }
  .vacancies-benefits__img img {
    position: relative;
    z-index: 1;
  }
  .vacancies-benefits__img::after {
    z-index: 0;
  }
  .vacancies-benefits__text-list {
    width: 70%;
    max-width: none;
  }
}
@media screen and (max-width: 650px) {
  .vacancies-benefits__inner {
    padding: var(--mobile-padding);
    border-radius: var(--mobile-border-radius);
  }
  .vacancies-benefits__text-title {
    font-size: 30px;
  }
  .vacancies-benefits__text-list {
    width: 100%;
  }
  .vacancies-benefits__img {
    position: relative;
    right: 0;
    transform: none;
  }
}
.neuronet-promo {
  margin-top: 40px;
}

.neuronet-promo__inner {
  position: relative;
  padding: 100px 74px;
  border-radius: 50px;
  background-color: var(--card-color);
}

.neuronet-promo__text {
  width: 70%;
  color: var(--text-color);
}

.neuronet-promo__text-title {
  font-family: var(--font-secondary);
  font-size: 50px;
}

.neuronet-promo__text-subtitle {
  font-weight: 700;
  font-size: 30px;
}

.neuronet-promo__text-descr p {
  margin-top: 20px;
}

.neuronet-promo__img {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-40%);
}

@media screen and (max-width: 1250px) {
  .neuronet-promo__text {
    width: 50%;
  }
}
@media screen and (max-width: 1080px) {
  .neuronet-promo__inner {
    padding: 100px 40px;
  }
}
@media screen and (max-width: 900px) {
  .neuronet-promo__inner {
    padding: 40px;
  }
  .neuronet-promo__inner > div {
    width: 100%;
  }
  .neuronet-promo__img {
    position: relative;
    transform: none;
    margin-top: 40px;
  }
  .neuronet-promo__img img {
    margin: 0 auto;
  }
}
@media screen and (max-width: 650px) {
  .neuronet-promo__inner {
    padding: var(--mobile-padding);
    border-radius: var(--mobile-border-radius);
  }
  .neuronet-promo__text-title {
    font-size: 40px;
  }
}
.neuronet-product {
  margin-top: 200px;
  color: var(--main-color);
}

.neuronet-product__inner {
  display: grid;
  gap: 45px;
}

.neuronet-product__text {
  text-align: center;
}

.neuronet-product__text-title {
  font-family: var(--font-secondary);
  font-size: 30px;
}

.neuronet-product__text-subtitle {
  margin-top: 30px;
  font-size: 20px;
  font-weight: 600;
}

.neuronet-product__img {
  overflow: hidden;
}
.neuronet-product__img img {
  border-radius: 50px;
  margin: 0 auto;
}

@media screen and (max-width: 900px) {
  .neuronet-product {
    margin-top: 100px;
  }
  .neuronet-product__text-subtitle br {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .neuronet-product__inner {
    overflow: hidden;
  }
  .neuronet-product__img img {
    border-radius: var(--mobile-border-radius);
  }
}
.neuronet-feedback {
  margin-top: 190px;
  margin-bottom: 190px;
}

.neuronet-feedback__inner {
  position: relative;
  padding: 60px 54px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50px;
}

.neuronet-feedback__text {
  max-width: 900px;
}

.neuronet-feedback__text-descr {
  margin-top: 35px;
  color: var(--main-color);
  max-width: 600px;
}
.neuronet-feedback__text-descr p {
  margin-bottom: 20px;
}

.neuronet-feedback__form {
  margin-top: 40px;
}

.neuronet-feedback__img {
  position: absolute;
  bottom: 0;
  right: 20px;
}
.neuronet-feedback__img::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  filter: blur(100px);
  background-color: rgba(247, 209, 0, 0.5);
  z-index: -1;
}

@media screen and (max-width: 1250px) {
  .neuronet-feedback__text {
    max-width: 800px;
  }
  .neuronet-feedback__img {
    width: 350px;
  }
}
@media screen and (max-width: 1080px) {
  .neuronet-feedback__img {
    display: none;
  }
  .neuronet-feedback__text {
    max-width: none;
  }
}
@media screen and (max-width: 900px) {
  .neuronet-feedback {
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 650px) {
  .neuronet-feedback__inner {
    padding: var(--mobile-padding);
    border-radius: var(--mobile-border-radius);
  }
  .neuronet-feedback__text-title .title-1 {
    font-size: 30px;
  }
}/*# sourceMappingURL=main.css.map */